.notification_{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}
.notification_>button{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: red;
    font-weight: 800;
    font-size: 20px;
    background: var(--color);
}
.notification{
    box-shadow: 0px 0px 18px 8px var(--alter-color);
    width: 30%;
    border-radius: 10px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}
.notification_container{
    width: 95%;
    height: 95%;
    overflow-y: scroll;
}
.notification_top{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nomessage{
    width: 100%;
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    align-items: center;
    color: var(--alter-color);
    justify-content: center;
}

.notification_bottom{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.unseen{
    position: absolute;
    left: 0px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}

.notification_data{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0.1px 0px 0px var(--alter-color);
}

/* Notification Data Left */
.notification_data_left{
    position: relative;
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Notification Data Right */
.notification_data_right{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.notification_data_right>p{
    font-size: 13px;
}

@media only screen and (max-width: 768px) {
    .notification{
        width: 80%;
        height: 60%;
    }
}