.forget-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.forget-container{
    box-shadow: 0px 0px 18px 0px var(--alter-color);
    border-radius: .8rem;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.forget-container .lock-icon{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 60px;
}

.forget-container .heading{
    font-size: medium;
    font-weight: 900;
    color: var(--alter-color);
}
.forget-container p{
    width: 260px;
    font-size: 12px;
    color: var(--alter-color);
    text-align: center;
    margin-bottom: 15px;
}
.backlogin-container{
    background: #60606060;
    width: 100%;
    height: 40px;
    border-radius: 0 0 .8rem .8rem;
}
.backlogin-container a,.backlogin-container button{
    text-decoration: none;
    color: white;
    outline: none;
    width: 100%;
}
.backlogin-container button{
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
.backlogin-container:hover{
    box-shadow: 0px 0px 8px 0px var(--alter-color);
}

.forget-container form input{
    background: transparent;
    min-width: 260px;
    margin-bottom: 7px;
    color: var(--alter-color);
    height: 34px;
    outline: none;
    box-shadow: 0px 0px 1px 0px var(--alter-color);
    transition: transform 300ms ease-in-out;
    border-radius: 2px;
    border: none;
    text-indent: 10px;
}
.forget-container form input:focus{
    box-shadow: 0px 0px 8px 0px var(--alter-color);
    transform: scale(1.05);
}

.forget-container form input::placeholder{
    color: var(--alter-color);
    font-size: 11px;
    text-indent: 10px;
}
.forget-container form button{
    margin-top: 10px;
    min-width: 265px;
    height: 30px;
    background-color: var(--button-color);
    outline: none;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 7px;
}
.forget-container .horizontal-line{
    content: ' ';
    position: relative;
    z-index: -1;
    width: 260px;
    height: .8px;
    background-color: #60606060;
}
.forget-container .or{
    color: var(--alter-color);
    font-size: 13px;
    z-index: 2;
    font-weight: bold;
    padding: 0px 15px;
    position: relative;
    width: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.forget-container .create-account button{
    color: var(--button-color);
    background-color: transparent;
    border: none;
    outline: none;
    margin-bottom: 25px;
}


/*----------> BREAKPOINST <----------*/

/* Large devices */
@media screen and (max-width: 992px){
    
}

/* Medium devices */
@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 576px){
  
}

/* Small devices */
@media screen and (max-width: 350px){
    .forget-container{
        border-radius: .4rem;
        width: 280px;
    }
    
    .forget-container .lock-icon{
        font-size: 50px;
    }

    .forget-container p{
        width: 240px;
    }

    .backlogin-container{
        border-radius: 0 0 .4rem .4rem;
    }

    .forget-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .forget-container form input{
        min-width: 230px;
    }
    
    .forget-container form button{
        min-width: 230px;
    }
}
