.friend_{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 9999;
    backdrop-filter: blur(5px);
}
.friend_>button{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: red;
    font-weight: 800;
    font-size: 20px;
    background: var(--color);
}
.friend{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 27vw;
    border-radius: 10px;
    height: 65vh;
    background: var(--background-color);
    box-shadow: 0px 0px 2px 0px var(--alter-color);
    flex-direction: column;
}

/* Friend Title */
.friend_title{
    position: relative;
    width: 100%;
    height: 60px;
}

/* Friend Top */
.friend_top{
    width: 100%;
    height: 50%;
    box-shadow: 0px 0.3px 0px 0px var(--alter-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Friend Middle */
.friend_middle{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.friend_middle>input{
    width: 80%;
    border: none;
    outline: none;
    color: var(--alter-color);
    background-color: transparent;
}

/* Friend Bottom */
.friend_bottom_{
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    display: flex;
}
.friend_bottom{
    width: 100%;
    overflow: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
}

.eachfriend{
    display: flex;
    flex-direction: row;
    margin: 15px 0px 15px 0px;
    margin-bottom: 10px;
    width: 95%;
}

.eachfriend_avatar{
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    justify-content: center;
}
.eachfriend_avatar>a>.css-2s90m6-MuiAvatar-root,.eachfriend_avatar>a>.css-2s90m6-MuiAvatar-root>img{
    width: 42px;
    height: 42px;
}

.eachfriend_content{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.eachfriend_content>p{
    font-size: 16px;
}
.eachfriend_content>span{
    font-size: 12px;
    color: var(--alter-color);
}

.eachfriend_button{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eachfriend_button>p{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--button-color);
}

@media only screen and (max-width: 768px) {
}