.passverify-content-container{
    max-width: 350px;
    align-items: center;
    margin-left: 36%;
    position: relative;
    margin-top: 100px;
}
.passverify-container{
    box-shadow: 0px 0px 18px 0px #747474;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.passverify-container .passlock-icon{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 60px;
}
.passverify-container .passheading{
    font-size: medium;
    font-weight: 900;
    color: #747474;
}
.passverify-container p{
    width: 260px;
    font-size: 12px;
    color: #747474;
    text-align: center;
    margin-bottom: 15px;
}
.passverify-backlogin-container{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #60606060;
}
.passverify-backlogin-container:hover{
    box-shadow: 0px 0px 8px 0px #747474;
}
.passverify-backlogin-container a,.passverify-backlogin-container button{
    text-decoration: none;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}

.passverify-container form input{
    min-width: 260px;
    margin-bottom: 7px;
    height: 34px;
    color: #747474;
    outline: none;
    box-shadow: 0px 0px 1px 0px #747474;
    transition: transform 300ms ease-in-out;
    border-radius: 2px;
    border: none;
    text-indent: 3px;
    background-color: transparent;
}
.passverify-container form .changepasstick-wrong{
    position: relative;
    font-size: 25px;
    left: -15px;
    top: 8px;
    margin-left: -25px;
}

.passverify-container form input::placeholder{
    color: #747474;
    font-size: 11px;
    text-indent: 3px;
}

.passverify-container form input:focus{
    box-shadow: 0px 0px 8px 0px #747474;
    transform: scale(1.05);
}

.passverify-container form button{
    margin-top: 10px;
    min-width: 265px;
    height: 30px;
    background-color: #0099ff;
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 7px;
}
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.msgError{
    text-align: center;
    color: red;
}

@media screen and (max-width: 880px) {
    
    .passverify-content-container{
        margin-top: 7%;
        margin-left: 20%;
    }
}


.passverify-container .passresendcode{
    color: #0099ff;
    cursor: pointer;
    text-decoration: none;
}