.passverify-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.passverify-container{
    box-shadow: 0px 0px 18px 0px var(--alter-color);
    width: 350px;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.passverify-container .passlock-icon{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 60px;
}
.passverify-container .passheading{
    font-size: medium;
    font-weight: 900;
    color: var(--alter-color);
}
.passverify-container p{
    width: 260px;
    font-size: 12px;
    color: var(--alter-color);
    text-align: center;
    margin-bottom: 15px;
}
.passverify-backlogin-container{
    width: 100%;
    height: 40px;
    border-radius: 0 0 .8rem .8rem;
    border: none;
    background-color: #60606060;
}
.passverify-backlogin-container:hover{
    box-shadow: 0px 0px 8px 0px var(--alter-color);
}
.passverify-backlogin-container a,.passverify-backlogin-container button{
    text-decoration: none;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}

.passverify-container form input{
    min-width: 260px;
    margin-bottom: 7px;
    height: 34px;
    color: var(--alter-color);
    outline: none;
    box-shadow: 0px 0px 10px 0px var(--alter-color);
    transition: transform 300ms ease-in-out;
    border-radius: .4rem;
    border: none;
    text-indent: 12px;
    background-color: transparent;
}
.passverify-container form .changepasstick-wrong{
    position: relative;
    font-size: 25px;
    left: -5px;
    top: 8px;
    margin-left: -25px;
}

.passverify-container form input::placeholder{
    color: var(--alter-color);
    font-size: 11px;
    text-indent: 12px;
}

.passverify-container form input:focus{
    box-shadow: 0px 0px 8px 0px var(--alter-color);
    transform: scale(1.05);
}

.passverify-container form button{
    margin-top: 10px;
    min-width: 260px;
    height: 34px;
    background-color: var(--button-color);
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: .4rem;
}

.passverify-container .passresendcode{
    color: var(--button-color);
    cursor: pointer;
    text-decoration: none;
}



/*----------> BREAKPOINST <----------*/

/* Large devices */
@media screen and (max-width: 992px){
    
}

/* Medium devices */
@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 576px){
  
}

/* Small devices */
@media screen and (max-width: 350px){
    .passverify-container{
        width: 280px;
    }
    .passverify-container form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .passverify-container form input{
        min-width: 240px;
    }
    
    .passverify-container form button{
        min-width: 240px;
    }
}