.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overscroll-behavior: none;
    position: relative;
    box-shadow: 0 4px 10px var(--alter-color);
    
}

/* Sidebar Logo */
.sidebar_logo{
    flex: 0.1;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar_logo>img{
    width: 80px;
    height: 30px;
}

/* Sidebar Content */
.sidebar_content{
    display: flex;
    flex: 0.9;
    flex-direction: column;
    justify-content: left;
    margin-top: 15px;
    margin-left: 20px;
}

/* Sidebar Icons */
.sidebar_icons_{
    width: 85%;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 8%;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color);
}

.icon_active {
    transition: transform 5s ease-in-out;
    transform: translateX(25px);
    color: green !important;
}

.icon_active::after{
    content: "";
    position: absolute;
    left: -20px;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}

.sidebar_icons_ a{
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--color);
}
.sidebar_icon {
    width: 27px;
    height: 27px;
}
.sidebar_icons_ a span{
    margin-left: 10px;
}
.sidebar_icons_>a>sup{
    background-color: #ff0000;
    width: 10px;
    height: 10px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    margin-left: -10px;
    top: -10px;
}

/* New Post */
.newpost_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    z-index: 9999;
    backdrop-filter: blur(5px);
}
.newpost_overlay>button{
    position: absolute;
    right: 1%;
    top: 2%;
    font-size: 30px;
    background: transparent;
    border: none;
    color: red;
}

/* New Post Create */
.newpost_create{
    display: flex;
    flex-direction: column;
    width: 424px;
    height: 465px;
    border-radius: 15px;
    transition: newpostcreate 3s ease-in-out;
}

@keyframes newpostcreate {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

/* New Post Create Top */
.newpost_create_top{
    flex: 0.09;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0.3px 0px 0px #747474;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.newpost_create_top>h2{
    padding: 0px 10px;
    cursor: pointer;
}
.newpost_create_top>button{
    background-color: transparent;
    border: none;
    color: #0099ff;
    padding: 0px 10px;
}

/* New Post Create Bottom */
.newpost_create_bottom{
    flex: 0.91;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.newpost_create_bottom>h1{
    font-size: 100px;
}
.newpost_create_bottom>label>button{
    background-color: #0099ff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    border: none;
    margin-top: 15px;
}
.newpost_create_bottom>.postcrop_options{
    position: sticky;
    margin-top: -45%;
    bottom: 5%;
    margin-left: -70%;
}
.newpost_create_bottom>.postcrop_options>p{
    font-size: 24px;
    width: 35px;
    height: 35px;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.658);
    transition: transform 200ms ease-in-out;
}
.newpost_create_bottom>.postcrop_options>p:hover{
    background-color: rgba(0, 0, 0, 0.781);
    transform: scale(1.05);
    box-shadow: 0px 0px 18px 2px #ffffff;
}

.newpost_create_bottom>.postcrop_options>.postcrop_options_select{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 120px;
    background-color: #000000a9;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: center;
}
.newpost_create_bottom>.postcrop_options>.postcrop_options_select>p{
    box-shadow: 0px 0.3px 0px 0px #747474;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
    width: 95%;
    cursor: pointer;
}
.newpost_create_bottom>.postcrop_options>.postcrop_options_select>p>.select_icon{
    font-size: 20px;
    padding-left: 5px;
}

/* New Post Share */
@keyframes newpostshare {
    0%{
        width: 0px;
    }
    100%{
        width: 824px;
    }
}
.newpost_share{
    display: flex;
    flex-direction: column;
    width: 824px;
    height: 465px;
    border-radius: 15px;
    transition: newpostshare 3s ease-in-out;
}


/* New Post Share Top*/
.newpost_share_top{
    flex: 0.09;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0.3px 0px 0px #747474;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.newpost_share_top>h2{
    padding: 0px 10px;
    cursor: pointer;
}
.newpost_share_top>button{
    background-color: transparent;
    border: none;
    color: #0099ff;
    padding: 0px 10px;
}

/* New Post Share Bottom */
.newpost_share_bottom{
    flex: 0.91;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* New Post Share Bottom left*/
.newpost_share_bottom_left{
    display: flex;
    flex: 0.6;
    height: 100%;
}

/* New Post Share Bottom Right*/
.newpost_share_bottom_right{
    flex: 0.4;
    width: 100%;
}
.newpost_share_bottom_right_top{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    align-items: center;
}
.newpost_share_bottom_right_top>.description_avatar{
    width: 30px;
    margin-left: 10px;
    margin-right: 15px;
    height: 30px;
} 
.newpost_share_bottom_right_top>.description_avatar>img{
    width: 30px;
    height: 30px;
} 
.newpost_share_bottom_right>textarea{
    margin-top: 10px;
    width: 90%;
    height: 30%;
    margin-left: 5%;
    resize: none;
    color: #747474;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: 0px 0.3px 0px 0px #747474;
}




/* For Mobile View */
@media only screen and (max-width: 768px){
    .sidebar{
        display: flex;
        height: auto;
        flex-direction: none;
    }
    
    /* Sidebar Logo */
    .sidebar_logo{
        display: none;
    }
    
    /* Sidebar Content */
    .sidebar_content{
        display: flex;
        flex-direction: row;
        height: 40px;
        justify-content: space-evenly;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    /* Sidebar Icons */
    .sidebar_icons_{
        width: fit-content;
        box-shadow: 0px 0px 2px 0px #747474;
        margin-bottom: 0;
    }
    .sidebar_icons_>a>span{
        display: none;
    }

    /* New Post Create */
    .newpost_create{
        width: 324px;
        height: 365px;
    }
    .newpost_share{
        height: 365px;
    }
}
