.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-datas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    height: 450px;
    width: 300px;
    box-shadow: 0px 0px 18px 0px #747474;
}


.login-form form{
    margin-top: 15px;
    display: flex;
    width: 350px;
    height: 350px;
    flex-direction: column;
    align-items: center;
}

.login-form .logo{
    margin-bottom: 30px;
}

.login-datas form input{
    margin-bottom: 10px;
    color: #747474;
    text-indent: 10px;
    width: 250px;
    height: 30px;
    box-shadow: 0px 0px 1px 0px #747474;
    transition: transform 300ms ease-in-out;
    border: none;
    outline: none;
    background: transparent;
}

.login-datas form input:focus{
    box-shadow: 0px 0px 8px 0px #747474;
    transform: scale(1.05);
}

.login-datas form input::placeholder{
    color: #747474;
    font-size: 11px;
    text-indent: 10px;
}

.login-datas form button{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    color: white;
    border: none;
    background: #0099ff;
}

.login-container .page-change a{
    color: #0099ff;
    cursor: pointer;
    text-decoration: none;
}

.login-form a{
    color: #0099ff;
    cursor: pointer;
    text-decoration: none;
}

.login-form p{
    width: 260px;
    font-size: 12px;
    color: #747474;
    text-align: center;
    margin-bottom: 15px;
}

.msgError{
    text-align: center;
    color: red;
}
  
