@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root {
    --background-color: white;
    --color: black;
    --alter-color: #747474d5;

    /* No Change */
    --button-color: #0099ff;
    --button-text-color: #ffffff;
    --button-hover-color: var(--color);
    --button-text-hover-color: var(--background-color);


    /* Reels */
    --reels-width: 326px;
    --reels-height: 580px;
}


*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body{
    background-color: var(--background-color);
    color: var(--color);
    -webkit-touch-callout: none;
    overflow: hidden;
    overscroll-behavior: none;
}

p{
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: pointer;
}

.newpost_background{
    background-color: var(--background-color);
    color: var(--color);
}
/*.loading-parts{
    position: fixed;
    display: flex;
    align-items: center;
    object-fit: fill;
    object-position: center;
    justify-content: center;
    background-color: #000000c8;
    z-index: 999;
}*/

/* App.css */
.app {
    transition: filter 0.3s ease;
}
.blur-background {
    filter: blur(8px);
    transition: filter 0.3s ease;
}

@media only screen and (max-width: 768px){
    .frontpage_sidebar{
        background-color: black;
    }
}


/*----------> BREAKPOINST <----------*/

/* Large devices */
@media screen and (max-width: 992px){
    
}

/* Medium devices */
@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 576px){
  
}

/* Small devices */
@media screen and (max-width: 350px){
    
}